@model List<SelectListItem>

@{
    Layout = null;
}

<div class="panel panel-default">
    <div class="panel-heading">Place of Service</div>
    <div class="panel-body">
        <div class="form-group">
            @Html.Label("placeOfService", "Place of Service")

            @(Html.Kendo().DropDownList()
                  .Name("placeOfService")
                  .DataTextField("Text")
                  .DataValueField("Value")
                  .Events(e => e.Change("onChange"))
                  .BindTo(Model)
                  .Value("1")
                  .HtmlAttributes(new { @class = "form-control" }))
        </div>
        <button id="createPlaceOfService" class="btn btn-primary">Create Place of Service</button>
    </div>
</div>

<script>
    var onChange = function () {
    };

    $(document).ready(function () {
        var $placeOfService = $("#placeOfService");

        $("#showButton").click(function () {
            var placeOfService = $placeOfService.data("kendoDropDownList");
        });
    });
</script>
