@{
    Layout = "_MdiLayout";
}

<div class="panel panel-default">
    <div class="panel-heading">Community</div>
    <div class="panel-body">
        <div class="form-group">
            <h4>Community</h4>

        </div>
    </div>
</div>
