@using TelerikCoreWebApp.ViewModels;
@model VendorViewModel

@{
    Layout = "_MdiLayout";

    int selectedVendorId = Model.SelectedVendorId;
    List<SelectListItem> vendorSelectListItems = new List<SelectListItem>();

    foreach (Vendor vendor in Model.VendorList)
    {
        var selectListItem = new SelectListItem
        {
            Value = vendor.VendorId.ToString(),
            Text = vendor.Name
        };

        vendorSelectListItems.Add(selectListItem);
    }
}

<div class="panel panel-default">
    <div class="panel-heading">Vendor</div>
    <div class="panel-body">
        
        <h1>Drop Down List Demo2</h1>

        <form id="dropDownListForm" asp-controller="Program" asp-action="DropDownListDemo2" method="post">
            <div class="form-group">
                @Html.Label("vendorDropDownList", "Vendor")

                @(Html.Kendo().DropDownList()
                      .Name("vendorDropDownList")
                      .DataTextField("Text")
                      .DataValueField("Value")
                      .Events(e => e.Change("onChange"))
                      .BindTo(vendorSelectListItems)
                      .Value(selectedVendorId.ToString())
                      .HtmlAttributes(new { @class = "form-control" }))
            </div>
        </form>
    </div>
</div>

<script>
    var onChange = function () {
        $("#dropDownListForm").submit();
    };

    $(document).ready(function () {
        $("#vendorDropDownList").data("kendoDropDownList");
    });
</script>

