
@{
    List<SelectListItem> colorSelectList = new List<SelectListItem>
    {
        new SelectListItem
        {
            Text = "Blue",
            Value = "1"
        },
        new SelectListItem
        {
            Text = "Orange",
            Value = "2"
        },
        new SelectListItem
        {
            Text = "Yellow",
            Value = "3"
        }
    };

    List<string> sizeSelectList = new List<string>
    {
        "S",
        "M",
        "L",
        "XL"
    };
}

<div>
    <form>
        <div class="form-group">
            @Html.Label("color", "Color")
            @(Html.Kendo().DropDownList()
              .Name("color")
              .DataTextField("Text")
              .DataValueField("Value")
              .Events(e => e.Change("onChange"))
              .BindTo(colorSelectList)
              .Value("1")
              .HtmlAttributes(new { @class = "form-control" }))
        </div>

        <div class="form-group">
            @Html.Label("size", "Size")
            @(Html.Kendo().DropDownList()
              .Name("size")
              .BindTo(sizeSelectList)
              .HtmlAttributes(new { @class = "form-control" }))
        </div>

        <button id="showButton" class="k-button k-primary" style="margin-top: 2em;">Show Values</button>
    </form>
</div>

<script>
    var onChange = function () {
    };

    $(document).ready(function () {
        var $color = $("#color");
        var $size = $("#size");

        $("#showButton").click(function () {
            var color = $color.data("kendoDropDownList");
            var size = $size.data("kendoDropDownList");

            alert('ColorId = ' + color.value() + ',  Size = ' + size.value());
        });
    });
</script>