
<h1>Create Draft Program</h1>

<div id="vendorDiv">
    @await Component.InvokeAsync("Vendor")
</div>

<div id="clbcProgramDiv">
    @await Component.InvokeAsync("ClbcProgram")
</div>

@*<div id="communityDiv">
    @await Component.InvokeAsync("Community")
</div>

<div id="placeOfServiceDiv">
    @await Component.InvokeAsync("PlaceOfService")
</div>*@
