
<h1>Create Draft Program</h1>

<div>
    @await Component.InvokeAsync("Vendor")
</div>

<div>
    @await Component.InvokeAsync("ClbcProgram")
</div>

<div id="communityDiv">
    @await Component.InvokeAsync("Community")
</div>

<div id="placeOfService">
    @await Component.InvokeAsync("PlaceOfService")
</div>
