
@{
    Layout = "_MdiLayout";


}

<h1>Create Draft Program</h1>

<div id="vendorDiv">
    
</div>

<div id="clbcProgramDiv">
    
</div>

<div id="communityDiv">
    
</div>

<div id="placeOfServiceDiv">
    
</div>
