

@{
    Layout = "_MdiLayout";
}

<div class="panel panel-default">
    <div class="panel-heading">Program</div>
    <div class="panel-body">
        <div class="form-group">
            <h4>Program</h4>
            
        </div>
    </div>
</div>
