@*@model List<SelectListItem>*@

@{
    Layout = "_MdiLayout";
}

<div class="panel panel-default">
    <div class="panel-heading">Program</div>
    <div class="panel-body">
        <div class="form-group">
            <h4>Program</h4>
            
            <div id="communityDiv">
                @await Component.InvokeAsync("Community")
            </div>

            <div id="placeOfServiceDiv">
                @await Component.InvokeAsync("PlaceOfService")
            </div>
        </div>
    </div>
</div>
