
@section Styles
{
    <link href="~/css/index.css" rel="stylesheet" />
}

@{
    ViewBag.Title = "Window Demo Page";

    const int numberItems = 4;

    <div id="megaStore">
        @(Html.Kendo().Menu().Name("MenuBar").Items(items =>
          {
              items.Add().Text("Menu1").Items(children =>
              {
                  children.Add().Text("Menu1 Item0");
                  children.Add().Text("Menu1 Item1");
                  children.Add().Text("Menu1 Item2");
                  children.Add().Text("Menu1 Item3");
                  children.Add().Text("Menu1 Item4");
                  children.Add().Text("Menu1 Item5");
                  children.Add().Text("Menu1 Item6");
              });

              items.Add().Text("Menu2").Items(children =>
              {
                  children.Add().Text("Menu2 Item0");
                  children.Add().Text("Menu2 Item1");
                  children.Add().Text("Menu2 Item2");
                  children.Add().Text("Menu2 Item3");
                  children.Add().Text("Menu2 Item4");
                  children.Add().Text("Menu2 Item5");
                  children.Add().Text("Menu2 Item6");
              });

              items.Add().Text("Menu3").Items(children =>
              {
                  children.Add().Text("Menu3 Item0");
              });

              items.Add().Text("Program").Items(children =>
              {
                  children.Add().Text("Program Menu Item0");
              });

              items.Add().Text("Window").Items(children =>
              {
                  children.Add().Text("Close All Windows");
                  children.Add().Text("Arrange Windows");
                  children.Add().Separator(true);
                  children.Add().Text("Window Item1");
                  children.Add().Text("Window Item2");
                  children.Add().Text("Window Item3");
              });
          })
          .Events(e => e.Select("selectMenuItem"))
        )
    </div>

    <div class="jumbotron">
        <h1>ASP.Net MVC Core MDI Demo</h1>
    </div>

    for (int n = 0; n < numberItems; n++)
    {
        PopupWindow popupWindow = PopupHelper.GetPopupWindowSettings(n);

        @(Html.Kendo().Window()
              .Name(popupWindow.Name)
              .Title(popupWindow.Title)
              .LoadContentFrom(popupWindow.Action, popupWindow.Controller)
              .Draggable()
              .Width(popupWindow.Width)
              .Height(popupWindow.Height)
              .Position(settings => settings.Top(popupWindow.Top).Left(popupWindow.Left))
              .Resizable(settings => settings.MaxHeight(popupWindow.MaxWidth).MaxWidth(popupWindow.MaxHeight))
              .Modal(false)
              .Visible(false)
              .Iframe(true)
              .Events(events => events
                  .Open("onOpen")
                  .Activate("onActivate")
                  .Refresh("onRefresh")
                  .Resize("onResize")
                  .DragStart("onDragStart")
                  .DragEnd("onDragEnd")
                  .Deactivate("onDeactivate")
                  .Minimize("onMinimize")
                  .Maximize("onMaximize")
                  .Close(popupWindow.OnClose))
              .Actions(actions => actions.Pin().Refresh().Minimize().Maximize().Close()))
    }

    <div class="k-content">
        @(Html.Kendo().ToolBar().Name("ToolBar").Items(items =>
        {
            for (int n = 0; n < numberItems; n++)
            {
                string statusBarButtonText = "Popup" + n;
                string statusBarButtonId = "statusBarButton" + n;

                items.Add().Type(CommandType.Button).Text(statusBarButtonText).Id(statusBarButtonId);
            }
        }))
    </div>
}

@section Scripts
{
    <script src="~/js/index.js" asp-append-version="true"></script>
}
